#root {
  margin: 0 auto;
}

.layout {
  font-size: 12px;
  display: flex;
}

.side {
  width: 200px;
  border-right: #ccc solid 1px;
  margin-right: 10px;
  font-size: 22px;
}

.side li{
  cursor: pointer;
}

.main {
  flex: 1;
}

.dark {
  background-color: black;
  color: white;
}
